
html, body{
    margin:0;
    padding:0;
    text-align:left;
}

#pagewidth{
    width:100%;
    text-align:left;
    margin:0 auto;
}

#header{
    position:relative;
    height:10px;
    background-color:#000303;
    width:100%;
    display:block;
    overflow:auto;
}

#leftcol{
    width:15%;
    float:left;
    position:relative;
    background-color:#FFFFFF;
}

#maincol{
    background-color: #C0BC9F;
    position: relative;
    width:85%;
    float:right;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */




/* ******************************************************************** */
/*                      printer styles                                  */
/* ******************************************************************** */

@media print{
    /*hide the left column when printing*/
    #leftcol{display:none;}
    #twocols, #maincol{width:100%; float:none;}
}